/* Uso de regla @import para importar fuentes externas en CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

/* ---------- Header ----------- */
header {
  background-color: #000000;
  display: flex;
  justify-content: center; 
  padding-bottom: 10px; 
}

.imgLogo {
  max-height: 150px;
}


/* ------------- Section - contenedor principal ------------- */
.section-principal {
  background: url("../images/bg-img.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  height: 80vh;
}

.div-Principal {

  justify-content: center;
  text-align: center;
}

/* 1. div letras */
.div-pLetras p {
  color: #4bd5ee;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  margin-top: 4rem;
}

/* 2. div Animación */

.div-anima {
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;
  overflow: hidden;
}

.div-trapezoide {
  position: relative;
  background-color: rgba(161, 147, 147, 0.3);
  box-shadow: inset 0px 0px 60px 50px #1a1313;
  mix-blend-mode: overlay; 
  /* Color de fondo con transparencia */
  transform-origin: bottom;
  transform: perspective(30px) rotateX(3deg);
  overflow: hidden;
}

.div-animaLetras p {
  color: #d4c110;
  margin: 0;
  font-weight: bolder;
  font-size: 28px;
  text-align: justify;
  animation: animacion 6s linear infinite;
  padding: 0 1rem;
}

@keyframes animacion {
  from {
    transform: translateY(450%);
  }
  to {
    transform: translateY(-100%);
  }
}

/* 3. div Boton de inicio */
.img-Yoda {
  width: 30%;
}

.boton-inicio {
  text-align: center;
  padding: 5px 10px; 
  background-color: #ff6d2e; 
  text-decoration: none;
  font-weight: bolder;
  color: #f4db00;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #ffa800;
  background-color: rgba(241, 91, 21, 0.7);
  margin-bottom: 3rem;
}

.boton-inicio:hover {
  background-color: rgba(170, 185, 41, 0.7); /* Cambia color*/
}

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto; 
  background-color: #000000;
  padding: 30px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 200%;
  transition: 0.3s;
  transition-property: transform;
}

a {
  color: yellow;
}

.social-media a:hover {
  transform: scale(1.2);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4db00;
  font-size: 12px;
}

/* RESPONSIVO */

/* desktop*/
@media screen and (min-width: 1400px) {
  
  }


/* mobile */
@media screen and (max-width: 500px) {

  header {
    margin-bottom: 0px;
  }
  
  .imgLogo {
    height: 100px;
  }
  .div-pLetras p {
    font-size: 20px;
    padding: 0 1rem;
  }
  .div-anima {
    top: 70px;
    /* margin-bottom: -6rem; */
  }
  .div-animaLetras p {
    font-size: 20px;
    padding: 0 1rem;
  }
  .img-Yoda {
    width: 20%;
  }
  .boton-inicio {
    padding: 5px 10px;  
    font-size: 11px;
  }
  .social-media {
    gap: 10px;
    font-size: 120%;
  }
  .footer {
    padding: 10px;
  }
  .copyright {
     font-size: 9px;
  }
  
}
