/* Uso de regla @import para importar fuentes externas en CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* ---------- Header ----------- */
header {
  background-color: #000000;
  display: flex;
  justify-content: center; 
  padding: 10px; 
}

.imgLogo {
  max-height: 100px;
}

/* ------------- Section - contenedor principal ------------- */
.section-principal {
  background: url("../images/bg-img.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
}

.div-Principal {
  /* display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(1, 3fr); */
  justify-content: center;
  text-align: center;
}

/* 1. div letras */
.div-pLetras p {
  color: #4bd5ee;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-top: 4rem;
}

/* 2. div Animación */

.div-anima {
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;
  overflow: hidden;
}

.div-trapezoide {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  transform-origin: bottom;
  transform: perspective(30px) rotateX(3deg);
  overflow: hidden;
}

.div-animaLetras p {
  color: #f4db00;
  margin: 0;
  font-weight: bolder;
  font-size: 28px;
  text-align: justify;
  animation: animacion 5s linear infinite;
}

@keyframes animacion {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(-45%);
  }
}

/* 3. div Boton de inicio */
.img-Yoda {
  width: 30%;
}

.boton-inicio {
  text-align: center;
  padding: 5px 10px;
  background-color: #ff6d2e;
  text-decoration: none;
  font-weight: bolder;
  color: #f4db00;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #ffa800;
  background-color: rgba(241, 91, 21, 0.7);
  margin-bottom: 3rem;
}

.boton-inicio:hover {
  background-color: rgba(170, 185, 41, 0.7); /* Cambia color*/
}

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto; /* Automatically sized rows */
  background-color: #000000;
  padding: 30px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 200%;
  transition: 0.3s;
  transition-property: transform;
}

a {
  color: yellow;
}

.social-media a:hover {
  transform: scale(1.2);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4db00;
  font-size: 12px;
}

/* RESPONSIVO */

/* Tablets hasta 850x1100 */
@media screen and (max-width: 850px) {
  .div-Principal {
    grid-template-columns: repeat(1, 2fr);
  }
}

/* Smartphones hasta 390x840 */
@media screen and (max-width: 390px) {
  .div-Principal {
    grid-template-columns: repeat(1, 1fr);
  }
  .imgLogo {
    width: 80%;
  }
  .img-Yoda {
    width: 50%;
  }
  .boton-inicio {
    font-size: 12px;
    padding: 5px 8px;
  }
}
