/* Uso de regla @import para importar fuentes externas en CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/* Grilla */
main {
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "section-principal" "footer";
}

/* Otros estilos generales */

/* ---------- Header ----------- */
header {
  grid-area: header;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Ajusta el padding según tu preferencia */
  max-height: 100px; /* Ajusta la altura máxima del header según tus necesidades */
}

.imgLogo {
  height: auto; /* Establecer la altura automática */
  width: 40%; /* Reducir el ancho de la imagen al 40% de su tamaño original */
  max-width: 100%; /* Ajusta el ancho máximo según tu preferencia */
}

figure {
  margin: 0px;
}

/* ------------- Section - contenedor principal ------------- */
.section-principal {
  grid-area: section-principal;
  background: url("/images/bg-img.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
}

.div-Principal {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(1, 3fr);
  justify-content: center;
  text-align: center;
}

/* 1. div letras */
.div-pLetras p {
  color: #4bd5ee;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* 2. div Boton - Animación */

/* Animación de las letras */
.div-anima {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
}

.div-trapezoide {
  position: relative;
  background-color: rgba(10, 10, 10, 0.7);
  /* Color de fondo con transparencia */
  transform-origin: bottom;
  transform: perspective(20px) rotateX(1.5deg);
}

.div-animaLetras p {
  color: #f4db00;
  margin: 0;
  font-weight: bolder;
  font-size: 15px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  animation: animacion 4s linear infinite;
}

@keyframes animacion {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(-45%);
  }
}

/* 3. div Boton de inicio */
.img-Yoda {
  width: 30%;
}

.boton-inicio {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 5px 10px;
  background-color: #ff6d2e;
  text-decoration: none;
  font-weight: bolder;
  color: #f4db00;
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #ffa800;
  background-color: rgba(241, 91, 21, 0.7);
  margin-bottom: 3rem;
  /* Color de fondo, transparencia */
}

.boton-inicio:hover {
  background-color: rgba(170, 185, 41, 0.7);
  /* Cambia color*/
}

/* S - Footer */
.footer {
  grid-area: footer;
  background-color: #000000;
  padding: 10px; /* Ajusta el padding según tu preferencia */
}

.divFooter {
  /* Grilla */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;

  /* Opcional: Puedes ajustar el espacio entre los elementos si lo deseas */
  gap: 20px;
}

.imgSocial {
  height: 20px;
}

/* Copyright y símbolo copyright a la izquierda */
.copyright {
  margin-right: auto; /* Empuja hacia la izquierda */
  color: #f4db00;
  font-size: 12px;
}

/* Frase centrada debajo de los iconos */
.frase {
  color: #f4db00;
}

/* RESPONSIVO */
/* Pantallas hasta 1400x1000 */
@media screen and (max-width: 1400px) {
  .imgLogo {
    width: 60%;
  }
}

/* Tablets hasta 850x1100 */
@media screen and (max-width: 850px) {
  .div-Principal {
    grid-template-columns: repeat(1, 2fr);
  }
}

/* Smartphones hasta 390x840 */
@media screen and (max-width: 390px) {
  .div-Principal {
    grid-template-columns: repeat(1, 1fr);
  }
  .imgLogo {
    width: 80%;
  }
  .img-Yoda {
    width: 50%;
  }
  .boton-inicio {
    font-size: 12px;
    padding: 5px 8px;
  }
}
