@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    height: 100vh;
    margin: 0;
}

/*         ----------          Header        -----------          */

header {
    background-color: #000000;
	display: flex;
  	justify-content: center;
}

.imgLogo {
    height: 100px;
}

figure {
	margin: 0px;
}
/*           -------------         Section  - contenedor principal       -------------           */
.section-principal{
    display: grid;
	grid-template-rows: 1fr;
  	grid-template-columns: repeat(1, 7fr);
    justify-content: center;
    text-align: center;
    background: url('/images/bg-img.png') center/cover no-repeat; 
}

/*           instrucciones1 y 2            */

.instrucciones1, .instrucciones2 {
    color: #4BD5EE;
    font-family: 'Roboto-bold', sans-serif;
    font-size: 17px;
    text-align: center;
    margin: 0px;
}

/*             div-agregaNombre        */

input[type=text]{
    padding: 10px;
    font-family: 'Roboto-bold', sans-serif;
	font-size: 15px;    
	border: 2px solid #FFA800;
    border-radius: 10px;
    background-color: rgba(247, 185, 156, 0.7);
}

input::placeholder{
    font-family: 'Roboto-bold', sans-serif;
    color: #F4DB00;
}

#agregar-btn, #elimina-btn, #btnModal{
    margin: 10px;
    font-family: 'Roboto-bold', sans-serif;
    text-align: center;
	padding: 10px;
	text-decoration: none;
	color: #F4DB00;
	font-size: 15px;
	border-radius: 20px;
	border: 2px solid #FFA800;
    background-color: rgba(241, 91, 21, 0.7);
}

#elimina-btn:hover,#agregar-btn:hover{
    background-color: rgba(170, 185, 41, 0.7); /* Cambia color*/
}

/* BOTONES - ESTILOS GENERALES*/
button{
    background: none;
    border: none;
}

/* TEXTO DE LISTA */

#nombreLista, #randomResultado {
    color: white;
    font-family: 'Roboto-bold', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* BOTON DE PLAY */

.img-btn-play{
    height: 5em;
    transition: all 0.5s ease;
    transform: scale(1);
}

.img-btn-play:hover {
    transform: scale(1.2) perspective(1px)
}


/* BOTON DE REINICIAR */

.div-boton-inicio p{
    color: #F4DB00;
    font-family: 'Roboto-bold', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0px;
}

.img-btn-reiniciar {
    height: 5em;
    transition: all 0.5s ease;
    transform: scale(1);
}

.img-btn-reiniciar:hover {
    transform: scale(1.2) perspective(1px)
}

/*                             css del Modal                            */

.modal {
    display: none; 
    position: fixed;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /*pone barras de desplazamiento automáticas (contenido más grande que contenedor)*/
    background-color: rgba(192, 113, 113, 0.4); /* opacidad fondo*/    
}

.contenido-modal {
    background: url('/images/bg-img.png') center/cover no-repeat; 
    margin: auto;
    padding: 20px;
    border: 2px solid #F4DB00;
    width: 80%;
}

ul {
    font-family: 'Roboto-bold', sans-serif;
    text-align: center;
	color: #4BD5EE;
	font-size: 17px;
    list-style-type: none;
    padding: 0;
}

.cerrar {
    font-family: 'Roboto-bold', sans-serif;
    color: #F4DB00;
    float: right;
    font-size: 35px;
}
.cerrar:hover, .cerrar:focus {
  color: rgb(201, 114, 15);
  text-decoration: none;
  cursor: pointer;
}