@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@media only screen and (min-width: 700px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: rgb(230, 173, 189);
  }
}

body {
  height: 100vh;
  margin: 0;
}

/*         ----------          Header        -----------          */

header {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.imgLogo {
  height: 100px;
}

figure {
  margin: 0px;
}
/*           -------------         Section  - contenedor principal       -------------           */
.section-principal {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(1, 6fr);
  justify-content: center;
  text-align: center;
  background: url("/images/bg-img.png") center/cover no-repeat;
}

/*           instrucciones1 y 2            */

.instrucciones1,
.instrucciones2 {
  color: #4bd5ee;
  font-family: "Roboto-bold", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 0px;
}

/*             div-agregaNombre        */

/* BUTONES */
input[type="text"] {
  padding: 10px;
  font-family: "Roboto-bold", sans-serif;
  font-size: 15px;
  border: 2px solid #ffa800;
  border-radius: 20px;
  background-color: rgba(247, 185, 156, 0.7);
}

input::placeholder {
  font-family: "Roboto-bold", sans-serif;
  color: #f4db00;
}

#agregar-btn,
#elimina-btn {
  margin: 10px;
  font-family: "Roboto-bold", sans-serif;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #f4db00;
  font-size: 15px;
  border-radius: 20px;
  border: 2px solid #ffa800;
  background-color: rgba(241, 91, 21, 0.7);
}

#elimina-btn:hover,
#agregar-btn:hover {
  background-color: rgba(170, 185, 41, 0.7); /* Cambia color*/
}

/* para todos los botones*/
button {
  background: none;
  border: none;
}
.img-btns {
  height: 5em;
}

/* TEXTO DE LISTA */

#nombreLista,
#randomResultado {
  color: white;
  font-family: "Roboto-bold", sans-serif;
  font-size: 20px;
  text-align: center;
}

/* para boton reiniciar*/

.div-boton-inicio p {
  color: #f4db00;
  font-family: "Roboto-bold", sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 0px;
}

.img-btns-reiniciar {
  height: 5em;
  border-radius: 20px;
}

.btn-reiniciar:hover {
  background-color: rgba(170, 185, 41, 0.7); /* Cambia color*/
  border-radius: 20px;
}
