@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  height: 100vh;
  margin: 0;
  background: url("/images/bg-img.png") center/cover no-repeat;
  font-family: "Roboto-bold", sans-serif;
}

header {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.imgLogo {
  height: 100px;
}

figure {
  margin: 0px;
}

.section-principal {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(1, 7fr);
  justify-content: center;
  text-align: center;
}

.instrucciones1,
.instrucciones2 {
  color: #4bd5ee;

  font-size: 17px;
  text-align: center;
  margin: 0px;
}

input[type="text"] {
  padding: 10px;
  font-size: 15px;
  border: 2px solid #ffa800;
  border-radius: 10px;
  background-color: rgba(247, 185, 156, 0.7);
}

input::placeholder {
  color: #f4db00;
}

#agregar-btn,
#elimina-btn,
#btnModal {
  margin: 10px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #f4db00;
  font-size: 15px;
  border-radius: 20px;
  border: 2px solid #ffa800;
  background-color: rgba(241, 91, 21, 0.7);
}

#elimina-btn:hover,
#agregar-btn:hover {
  background-color: rgba(170, 185, 41, 0.7);
}

button {
  background: none;
  border: none;
}

#nombreLista,
#randomResultado {
  color: white;
  font-size: 20px;
  text-align: center;
}

.img-btn-play {
  height: 5em;
  transition: all 0.5s ease;
  transform: scale(1);
}

.img-btn-play:hover {
  transform: scale(1.2) perspective(1px);
}

.div-boton-inicio p {
  color: #f4db00;
  font-size: 15px;
  text-align: center;
  margin: 0px;
}

.img-btn-reiniciar {
  height: 5em;
  transition: all 0.5s ease;
  transform: scale(1);
}

.img-btn-reiniciar:hover {
  transform: scale(1.2) perspective(1px);
}

.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(192, 113, 113, 0.4);
}

.contenido-modal {
  background: url("../images/bg-img.png") center/cover no-repeat;
  margin: auto;
  padding: 20px;
  border: 2px solid #f4db00;
  width: 80%;
  height: 400px;
}

.cerrar {
  font-family: "Roboto-bold", sans-serif;
  color: #f4db00;
  float: right;
  font-size: 35px;
}

.cerrar:hover,
.cerrar:focus {
  color: rgb(201, 114, 15);
  text-decoration: none;
  cursor: pointer;
}

/* Modal Styles */

.warior {
  width: 60px;
  height: 60px;
  background-color: rgb(255, 119, 0);
  background-image: radial-gradient(rgb(255, 111, 0), rgb(255, 234, 0));
  padding-top: 10px;
  opacity: 0.8;
  margin-left: 100px;
  margin-top: 100px;
  font-family: "Lilita One", sans-serif;
}

h5 {
  text-align: center;
  padding-top: -20%;
  font-family: "Lilita One", sans-serif;
  color: yellow;
}

.pulse {
  animation: pulse-animation 0.8s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
.spin {
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.choice {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  color: rgb(208, 30, 30);
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(210, 203, 183);
  text-align: center;
  padding-top: 4%;
}

/* Media Queries */

/* Para tablets hasta 1000*1300 */
@media screen and (max-width: 1000px) {
  .section-principal {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Para smartphones hasta 390*840 */
@media screen and (max-width: 390px) {
  .section-principal {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
