.wheel {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#div {
  text-align: center;
  width: 100%;
  height: 350px;
  padding-top: 300px;
}
